@font-face {
	font-family: Roboto-ItalicLight;
	src: url(fonts/Roboto-LightItalic.ttf);
}

@font-face {
	font-family: Roboto-Light;
	src: url(fonts/Roboto-Light.ttf);
}

@font-face {
	font-family: AxisExtrabold;
	src: url(fonts/Axis-Extrabold.otf);
}

body {
	overflow-x: hidden;
}

* {
	margin: 0;
	padding: 0;
}

.header {
	background: gray;
}

.navbar-brand {
	color: #fff;
}

.nav-link {
	color: #fff;
}

.airplane {
	position: absolute;
	opacity: 0.5;
	z-index: 0;
}

.text {
	font-size: 25px;
	color: #5d5d5d;
	width: 450px;
	z-index: 5;
}

.q {
	font-size: 35px;
	color: #5d5d5d;
	width: 550px;
	font-weight: bold;
}

.cap {
	height: 400px;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	flex-direction: column;
	justify-content: center;
}

.desc {
	color: #000;
	font-weight: lighter;
	font-size: 20px;
}

.ever .desc {
	color: #000;
}

.ever .q {
	color: #fff;
}

.ever .text {
	color: #fff;
}

.head {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	height: 800px;
	width: 100%;
}

.ovh {
	background: url(images/qwe.jpg);
	z-index: 10;
	background-size: cover;
}

.ever {
	background: url(images/mountain.jpg);
	z-index: 10;
	background-size: cover;
}

.ph {
	margin-top: 100px;
}

.p {
	z-index: 15 !important;
}

.main-head {
	background: #;
}

.main-head:nth-child(3) {
	background: #;
}

.table-e {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	margin-top: -200px;
	margin-left: -80px;
}

.e {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	width: 200px;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.name {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	justify-content: center;
	font-size: 35px;
	color: #333;
	font-weight: bold;
}

.act {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	justify-content: center;
	font-size: 45px;
	color: red;
	font-weight: bold;
}

.cont {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	flex-direction: column;
	justify-content: space-around;
	background: linear-gradient(to top, #4e96c2, #56bf69);
	height: 500px;
}

.rov {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	justify-content: center;
}

.plus {
	font-size: 125px;
	margin-top: 50px;
}

.sbp {
	margin-top: -25px;
	font-size: 20px;
	font-weight: bold;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	flex-direction: column;
	align-items: center;
}

.pb {
	padding: 10px;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	flex-direction: column;
	align-items: center;
	font-size: 18px;
	font-weight: bold;
}

.products .pb {
	background: #fff;
	border: 1px #fafafa solid;
	border-radius: 5px;
	-o-border: 1px #fafafa solid;
    -ms-border: 1px #fafafa solid;
    -moz-border: 1px #fafafa solid;
    -webkit-border: 1px #fafafa solid;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.char div:nth-child(1) {
	text-align: center;
}

.char div:nth-child(2) {
	text-align: center;
	font-size: 30px;
}

.char {
	width: 300px;
	font-weight: lighter;
}

.charactr {
	height: 1100px;
	background: #f1f1f1;
}

.products {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	justify-content: space-around;
}

.products .pb:first-child {
	padding-top: 10px;
}

.buy {
	width: 100px;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	background: linear-gradient(to top, #2a81bb, #3295d6);
	-o-background: linear-gradient(to top, #2a81bb, #3295d6);
	-ms-background: linear-gradient(to top, #2a81bb, #3295d6);
	-moz-background: linear-gradient(to top, #2a81bb, #3295d6);
	-webkit-background: linear-gradient(to top, #2a81bb, #3295d6);
	margin: 0 auto;
	border-radius: 7px;
	-o-border-radius: 7px;
    -ms-border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
	padding: 5px;
	color: #fff;
	transition: 1s;
	border: 3px #2a81bb solid;
	cursor: pointer;
	-o-transition: 1s;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    -o-border: 3px #2a81bb solid;
    -ms-border: 3px #2a81bb solid;
    -moz-border: 3px #2a81bb solid;
    -webkit-border: 3px #2a81bb solid;
}

.buy:hover {
	border: 3px #2a81bb solid;
	-o-border: 3px #2a81bb solid;
	-ms-border: 3px #2a81bb solid;
	-moz-border: 3px #2a81bb solid;
	-webkit-border: 3px #2a81bb solid;
	background: linear-gradient(to top, #fff, #fff);
	-o-background: linear-gradient(to top, #fff, #fff);
    -ms-background: linear-gradient(to top, #fff, #fff);
    -moz-background: linear-gradient(to top, #fff, #fff);
    -webkit-background: linear-gradient(to top, #fff, #fff);
	color: #2a81bb;
}

.prod {
	font-size: 50px;
	font-weight: lighter;
	color: ;
	text-align: center;
	padding: 25px 0;
}

.pb:first-child .char .buy {
	margin-top: 50px;
}

.pb:last-child .char .buy {
	margin-top: 20px;
}

.r {
	line-height: 30px;
}

.re {
	margin: 5px 0;
}

.qwen {
	margin-bottom: 75px;
}

.qwen .text {
	font-size: 16px;
	width: 350px;
}

.dev {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	margin: 0 15px;
}

.dev:nth-child(1) {
	margin-right: 15px;
}


.dev:nth-child(2) {
	margin-left: 15px;
}

.dev div img {
	opacity: 0.5;
	margin-right: 15px;
}

.royet {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
}
.dost {
	font-size: 50px;
	font-weight: bold;
	color: #000;
	opacity: 0.8;
	text-align: center;
	padding: 50px 0;
}


.rev {
	font-size: 70px;
	font-family: Lobster;
	color: #fff;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
}

.reviews {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 500px;
	background: #7d7d7d;
}

.review {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	width: 550px;
	background: #f2a974;
	padding: 5px;
	border-radius: 5px;
	-o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	margin-left: 25px;
	margin-right: 25px;
} 

.rev-table {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	flex-direction: column;
	justify-content: space-around;
}

.rev-name {
	font-size: 25px;
}

.rev-desc {
	font-size: 18px;
}

.main-review {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	justify-content: space-between;
	margin-top: 25px;
}

.over-review {
	height: 100%;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	flex-direction: column;
}

.oken {
	background: #fbddc8;
	padding-bottom: 25px;
}

.footer {
	background: #5d5d5d;
	height: 100px;
	padding: 10px;
}

.t {
	color: #fff;
}

.qe1 {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
}

.qe2 {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
}

@media screen and (max-width: 700px) {
	.head {
		display: flex; 
		display: -moz-box; 
		display: -ms-flexbox; 
		display: -webkit-box; 
		display: -webkit-flex;
		flex-direction: column;
		height: 1200px;
	}
	.table-e {
		margin-left: 0;
	}
	.q {
		font-size: 25px;
	}

	.text {
		font-size: 20px;
	}
	.ph {
		margin-top: 0;
	}
	.products div img {
		width: 100px;
	}
	.rov .pb div img {
		width: 75px;
	}
	.rov .sbp div img {
		width: 75px;
	}
	.rov {
		display: flex; 
		display: -moz-box; 
		display: -ms-flexbox; 
		display: -webkit-box; 
		display: -webkit-flex;
		flex-direction: column;
		align-items: center;
	}
	.cont {
		height: 900px;
	}
	.ert {
		margin-top: -100px;
	}
	.plus {
		margin-top: -25px;
		margin-left: -20px;
		margin-right: -20px;
		font-size: 100px; 
	}
	.sbp {
		margin-top: 0px;
	}
	.qe2 .pb {
		display: flex; 
		display: -moz-box; 
		display: -ms-flexbox; 
		display: -webkit-box; 
		display: -webkit-flex;
		flex-direction: column;
		align-items: center;
	}
	.products {
		display: flex; 
		display: -moz-box; 
		display: -ms-flexbox; 
		display: -webkit-box; 
		display: -webkit-flex;
		flex-direction: column;
	}
	.charactr {
		height: 1600px;
	}
	.royet {
		display: flex; 
		display: -moz-box; 
		display: -ms-flexbox; 
		display: -webkit-box; 
		display: -webkit-flex;
		flex-direction: column;
	}
	.dev {
		margin-top: 25px;
	}
	.main-review {
		display: flex; 
		display: -moz-box; 
		display: -ms-flexbox; 
		display: -webkit-box; 
		display: -webkit-flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		margin-top: 0;
	}
	.oken {
		height: 1000px;
	}
	.review {
		margin-top: 25px;
	}
}

@media screen and (max-width: 500px) {
	.review {
		margin-top: 25px;
		width: 350px;
		display: flex; 
		display: -moz-box; 
		display: -ms-flexbox; 
		display: -webkit-box; 
		display: -webkit-flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.oken {
		height: 1700px;
	}
	.p {
		width: 300px;
	}
	.dev {
		display: flex; 
		display: -moz-box; 
		display: -ms-flexbox; 
		display: -webkit-box; 
		display: -webkit-flex;
		flex-direction: column;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
}